#rest-filters{
    margin-bottom: 10px;
}
#rest-filters h3{
    margin-top: 0;
}
#display{
    height: 60%;
    display: block;
}
#json-display{
    height: 100%;
    padding: 15px;
    background-color: #444;
}
form input{
    display: block;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    position: relative;
}
.selectize-control{
    display: block;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    position: relative;
    
}